DATABASE_URL=postgresql://user:password@localhost:5432/dbname
REDIS_URL=redis://localhost/0
MEILI_URL=http://localhost:7700
MEILI_MASTER_KEY=master_key
HOME_URL=https://example.com/  # optional; if present, the home page will redirect to this URL
SECRET_KEY=secret_key  # generate a secret key with `openssl rand -base64 32`
LOG_LEVEL=info
BEHIND_PROXY=false
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT_URL=
S3_BUCKET=
S3_URL_BASE=
